.depoimentos {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 4.5%;
  margin-bottom: 2%;
}
@media screen and (min-width: 0px) {
  .depoimentos {
    justify-content: center;
    padding: 1.5rem;
  }
}