.container {
  width: 300px;
  height: 400px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right, #ffffff7a, #edcfee);
  padding: 17px;
  text-align: center;
  perspective: 500px; 
  }

.container:hover > .card{
    transform: rotateY(180deg);
    cursor: pointer;
}
.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.cardFront, .cardBack {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;  
}

.cardFront {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cardBack {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
  margin-top: 3%;
  font-size: 3em;
}

a:hover {
  color: #8D29CA;
}

.imagem {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 10px;
}
@media screen and (min-width: 0px) {
  .container {
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin: 0rem
  }
}


