.container {
  width: 300px;

  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right, #ffffff7a, #edcfee);
  padding: 17px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  margin-top: 3%;
  font-size: 3em;
}

a:hover {
  color: #8D29CA;
}

.imagem {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 10px;
}