* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}


body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-image: linear-gradient(to right, #FF9800, #cab8c2);*/
  background-image: linear-gradient(to right, #e0c2f2, #bb9af5);
  overflow-x: hidden;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 canvas{
  width: 100%;
  height: 200px;
} 

