@import url('https://fonts.googleapis.com/css2?family=Orbit&family=Passion+One:wght@400;700&display=swap');



.banner {
  padding: 3rem 7.5rem 6.25rem;  
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.titulo {  
  font-size: 4rem;
  margin-top: 4.875rem;
  margin-bottom: 2rem;
}

.saudacoes{
  font-family: 'Passion One', cursive;
}

.felicitacoes {  
  font-family: 'Passion One', cursive;
  font-size: 6rem;
  color: #C73176;
}

spam {
  color: #8D29CA;
}

.paragrafo {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.imagens {
  position: relative;
  height: 300px;
}

.fotoJulli {
  position: absolute;
  right: 2vw;
  bottom: 1vw;
  width: 15vw;
}

.fotoJackie {
  position: absolute;
  right: 13vw;
  bottom: 6vw;
  width: 15vw;
}

