@import url('https://fonts.googleapis.com/css2?family=Orbit&family=Passion+One:wght@400;700&display=swap');



.banner {
  padding: 3rem 7.5rem 6.25rem;  
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.titulo {  
  font-size: 4rem;
  margin-top: 4.875rem;
  margin-bottom: 2rem;
}

.saudacoes{
  font-family: 'Passion One', cursive;
}

.felicitacoes {  
  font-family: 'Passion One', cursive;
  font-size: 6rem;
  color: #C73176;
}

spam {
  color: #8D29CA;
}

.paragrafo {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.imagens {
  position: relative;
}

@media screen and (min-width: 0px) {
  .banner {
    padding: 6rem 2rem;
    width: 100%;
    margin: 0 auto;
    max-width: 22rem;
  }
  .felicitacoes {
    font-size: 4rem;
  }
  .imagens {
    height: 315px;
  }
  .fotoJackie{
    right: 45px;
    bottom: 8px;
    width: 60px;
    position: absolute;
  }
  .fotoJulli {
    right: 6px;
    bottom: -24px;
    width: 60px;
    position: absolute;
  }
}

@media screen and (min-width: 768px) {
  .banner {
    max-width: 100%;
  }
  .felicitacoes {
    font-size: 6rem;
  }
  .fotoJulli{
    bottom: 100px;
    right: 2vw;
    width: 150px;
  }
  .fotoJackie {
    bottom: 200px;
    right: 13vw;
    width: 150px;
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem 7.5rem 6.25rem;
    max-width: 100%;
  }
  .imagens {
    height: 300px;
  }
  .fotoJulli {
    bottom: 32px;
    right: -15px;
    width: 200px;
  }
  
  .fotoJackie {
    bottom: 120px;
    right: 143px;
    width: 200px;
  }
}